/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  color: #393d41;
  line-height: 1.6;
}

header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

header img {
  width: 150px;
}

.hero {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: #ffffff;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00a3cc;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero button {
  background-color: #e85435;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.info {
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.info h3 {
  color: #00a3cc;
  margin-bottom: 20px;
}

.info p {
  margin-bottom: 20px;
}

.image-section {
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 90px;
}

.image-section img.circle {
  border-radius: 50%;
  width: 300px;
  height: auto;
  float: left;
  margin-right: 30px;
}

.text-below {
  text-align: left;
  padding-top: 50px; /* per allineare il testo verticalmente con l'immagine */
}

.text-below h3 {
  color: #00a3cc;
  margin-bottom: 20px;
}

.text-below p {
  margin-bottom: 20px;
}

.guarantee {
  background-color: #e85435;
  color: #ffffff;
  padding: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.guarantee .quote {
  font-style: italic;
  margin-bottom: 30px;
}

.images {
  padding: 40px;
  background-color: #ffffff;
  overflow: hidden; /* per contenere i float */
  text-align: center;
}

.img-box {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5%;
  box-sizing: border-box;
}

.img-box:last-child {
  margin-right: 0;
}

.img-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

footer {
  background-color: #00a3cc;
  color: #ffffff;
  padding: 30px 20px;
  text-align: center;
}

footer h3 {
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  margin-bottom: 20px;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li i {
  margin-right: 10px;
}

footer p {
  font-size: 14px;
}
